<%= simple_form_for @curriculum, html: { class: 'form-horizontal' } do |f| %>
  <% if @curriculum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curriculum.errors.count, "error") %> prohibited this Curriculum from being saved:</h2>

      <ul>
      <% @curriculum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  <div class="field">
    <%= f.input :name%>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
    <div class="field">
    <%= f.input :min_rating %>
  </div>
    <div class="field">
    <%= f.input :max_rating %>
  </div>
    <div class="field">
    <%= f.input :active, as: :radio_buttons %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
