<h1>Curriculums Given at A&M Chess Camp</h1><br>

<table class="datagrid">
  <thead class="datagrid">
    <th>Name</th>
    <th>Ratings</th>
    <th>Times Used</th>
    <th>&nbsp;</th>
  </thead>
  <% for curriculum in @curriculums %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%= link_to curriculum.name, curriculum_path(curriculum) %></td>
      <% if curriculum.min_rating==0 %>
      <td>Unrated - <%= curriculum.max_rating%></td>
      <% else %>
      <td><%= curriculum.min_rating %> - <%= curriculum.max_rating%></td>
      <% end %>
      <td><%= Camp.for_curriculum(curriculum).size%></td>
	  <td align="center">
			<%= link_to(raw('<button class="button">Edit</button>'), edit_curriculum_path(curriculum))  %>&nbsp;
	  </td>
    </tr>
  <% end %>
</table>
<p class="supertiny"></p>

<!-- Add the pagination using will_paginate gem -->
<span class="smtext">
<%= will_paginate @curriculums, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
</span>

<p><strong><%= link_to "Add A New Curriculum", new_curriculum_path %></strong></p>
