<h2>Curriculum Details:</h2>

<p>
  <strong>Curriculum Name: </strong>
  <%= @curriculum.name.titlecase %> 
</p>

<p>
  <strong>Ratings: </strong>
  	<% if @curriculum.min_rating==0 %>
  	<td>Unrated - <%= @curriculum.max_rating%></td>
  	<% else %>
  	<td><%= @curriculum.min_rating %> - <%= @curriculum.max_rating%></td>
  	<% end %>
</p>

<p>
  <strong>All about <%= @curriculum.name%>: </strong>
  <%= @curriculum.description %>
</p>

<% unless @camps.empty? %>
	<p>
	  <strong>When is this curriculum offered: </strong>
	  <% for camp in @camps %>
		<%= link_to camp.start_date.strftime("%B %e, %Y"), camp_path(camp) %>
		<% unless @camps.last.eql?(camp) %> | <% end %>
	  <% end %>
	</p>
<% end %>

<p>
	<strong>Is the camp active: </strong>
      <% if @curriculum.active==true %>
      <td>Active</td>
      <% else %>
      <td>Inactive</td>
      <% end %>
</p>

<p>
  <%= link_to "Edit", edit_curriculum_path(@curriculum) %> |
  <%= link_to "Destroy", @curriculum, confirm: 'Are you sure?', method: :delete %> |
  <%= link_to "View All", curriculums_path %>
</p>
