<%= simple_form_for @camp, html: { class: 'form-horizontal' } do |f| %>
  <% if @camp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp.errors.count, "error") %> Prohibited this Camp from being saved:</h2>

      <ul>
      <% @camp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <fieldset>
  <div class="field">
    <%= f.input :curriculum_id, collection: Curriculum.active.alphabetical, prompt: "Select Curriculum Name" %>
  </div>
  <div class="field">
    <%= f.input :cost%>
  </div>
  <div class="field">
    <%= f.input :start_date, as: :date, order: [:month, :day, :year], include_blank: true %>
  </div>
  <div class="field">
    <%= f.input :end_date, as: :date, order: [:month, :day, :year], include_blank: true %>
  </div>
  <div class="field">
    <%= f.input :time_slot, :collection => [["Morning", "am"],["Afternoon", "pm"]] %>
  </div>
  <div class="field">
    <%= f.input :max_students%>
  </div>
  <div class="field">
    <%= f.input :active, as: :radio_buttons%>
  </div>
  <div class="field">
    <%= f.input :instructor_ids, label: "Instructor(s): ", collection: Instructor.active.alphabetical, as: :check_boxes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
 </fieldset>
<% end %>
