<h1>Camps Given at A&M Chess Camp</h1><br>

<table class="datagrid">
  <thead class="datagrid">
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
		<th>Cost</th> 
    <th>Time</th> 
    <th>&nbsp;</th>
  </thead>
  <% for camp in @camps %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%= link_to camp.name, camp_path(camp) %></td>
      <td><%= camp.start_date.strftime("%m/%d/%y") %></td>
      <td><%= camp.end_date.strftime("%m/%d/%y") %></td>
      <td><%= camp.cost %></td>
      <td>
        <% if camp.time_slot=="am" %>
          Morning
        <% else %>
          Afternoon
        <% end %>
      </td>
	  <td align="center">
			<%= link_to(raw('<button class="button">Edit</button>'), edit_camp_path(camp))  %>&nbsp;
	  </td>
    </tr>
  <% end %>
</table>
<p class="supertiny"></p>

<!-- Add the pagination using will_paginate gem -->
<span class="smtext">
<%= will_paginate @camps, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
</span>

<p><strong><%= link_to "Add A New Camp", new_camp_path %></strong></p>
