<h2><%=@camp.name%> Camp Details:</h2>

<p>
  <strong>Camp: </strong>
  <%= link_to @camp.name, curriculum_path(@camp.curriculum) %> 
</p>

<p>
  <strong>Cost: </strong>
  $<%= @camp.cost %>.00
</p>

<p>
  <strong>Date Period: </strong>
  <%= @camp.start_date.strftime("%m/%d/%y") %> - <%= @camp.end_date.strftime("%m/%d/%y") %> 
</p>

<p>
  <strong>Max Students: </strong>
  <%= @camp.max_students %> 
</p>

<p>
  <strong>Time Slot: </strong>
  <% if @camp.time_slot=="am" %>
    Morning
  <% else %>
    Afternoon
  <% end %>
</p>

<% unless @camp.instructors.empty? %>
  <p>
    <strong>Camp Instructors: </strong>
    <% for instructor in @camp.instructors %>
      <%= link_to instructor.name, instructor_path(instructor) %>
    <% unless @camp.instructors.last.eql?(instructor) %> | <% end %>
    <% end %>
  </p>
<% end %>

<p>
  <strong>Is the camp active: </strong>
      <% if @camp.active==true %>
        Active
      <% else %>
        Inactive
      <% end %>
</p>

<p>
  <%= link_to "Edit", edit_camp_path(@camp) %> |
  <%= link_to "Destroy", @camp, confirm: 'Are you sure?', method: :delete %> |
  <%= link_to "View All", camps_path %>
</p>
