<h1>Instructors at A&M Chess Camp</h1><br>

<table class="datagrid">
  <thead class="datagrid">
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th> 
    <th>Camps</th> 
    <th>&nbsp;</th>
  </thead>
  <% for instructor in @instructors %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%= link_to instructor.name, instructor_path(instructor) %></td>
      <td><%= instructor.email %></td>
      <td>
          <%= "#{instructor.phone[0..2]}" %>-<%= "#{instructor.phone[3..5]}" %>-<%= "#{instructor.phone[6..9]}" %>
      </td>
      <% unless instructor.camps.empty? %>
        <td>
          <% for camp in instructor.camps %> 
            <%= link_to camp.name, camp_path(camp) %><br>
          <% end %>
        </td>
      <% end %>
      <% if instructor.camps.empty? %> <td> There are no camps for this instructor </td> <%end%>
	  <td align="center">
			<%= link_to(raw('<button class="button">Edit</button>'), edit_instructor_path(instructor))  %>&nbsp;
	  </td>
    </tr>
  <% end %>
</table>
<p class="supertiny"></p>

<!-- Add the pagination using will_paginate gem -->
<span class="smtext">
<%= will_paginate @instructors, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
</span>

<p><strong><%= link_to "Add A New Instructor", new_instructor_path %></strong></p>
