<%= simple_form_for @camp_instructor, html: { class: 'form-horizontal' } do |f| %>
  <% if @camp_instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp_instructor.errors.count, "error") %> prohibited this Camp Instructor from being saved:</h2>

      <ul>
      <% @camp_instructor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :camp_id, label: "Camp: ", collection: Camp.active.alphabetical, as: :radio_buttons %>
  </div>
  <div class="field">
    <%= f.input :instructor_id, label: "Instructor: ", collection: Instructor.active.alphabetical, as: :radio_buttons%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
