<!DOCTYPE html>
<html>
<head>
  <title>A&M Chess Camp :: <%= controller.controller_name.titlecase %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "small-4 small-centered columns"><%= link_to(image_tag("AMChess.jpg", border: 0), home_path)%></div>
	<div class = "background">
		<%= render 'partials/navigation' %>
			<div id = "main_content" class = "small-9 small-centered large-centered columns">
				<% flash.each do |name, msg| %>
				<div class="alert-box <%= :notice ? "success" : "warning" %> radius">
				  <a href="#" class="close">&times;</a>
				  <%= msg %>
				</div>
				<% end %>
				<%=yield%>
		  	</div>
		<%= render 'partials/footer' %>
	</div>
</body>
</html>
